<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/discover.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/8f0acfe79d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav-container">  
            <li class="nav-sc margin-left"><a href=""><img src="../static/image/sc.PNG" width="184" height="46" alt="SOUNDCLOUD"></li>
            <li class="nav-itemleft1"><a href="">Home</a></li>
            <li class="nav-itemleft"><a href="">Stream</a></li>
            <li class="nav-itemleft"><a href="">Library</a></li>
            <li class="nav-search"><input type="text" placeholder="Search for artists, bands, tracks, podcasts"></li>
            <a href=""><i class="fas fa-search"></i></a>
        <div class="account">      
            <button type="button" class="signin">Sign in</button>
            <button type="button" class="createaccount">Create account</button>
        </div>
            <li class="nav-item"><a href="">Upload</a></li>
            <a href=""><i class="fas fa-ellipsis-h"></i></a>
    </nav>

    <main class="main-container">
        <div class="section-all">
        <section class="section-container">
            <h2 class="section-title">Chart: Top 50</h2>
            <p class="section-explain">The most played tracks on SoundCloud this week</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Chart: New & hot</h2>
            <p class="section-explain">Up-and-coming tracks on SoundCloud</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Study</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Chill</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Party</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Relax</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Sleep</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>

        <section class="section-container">
            <h2 class="section-title">Workout</h2>
            <p class="section-explain">Popular playlists from the SoundCloud community</p>
            <li class="section-album">
                <img src="../static/image/Album1.jpeg" width="173" height="173">
                <p class="section-genre">All music genres</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album2.jpeg" width="173" height="173">
                <p class="section-genre">Global Beats</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album3.jpeg" width="173" height="173">
                <p class="section-genre">Hip-hop & Rap</p>
                <p class="section-lanking">Top 50</p>
            </li>
            <li class="section-album">
                <img src="../static/image/Album4.jpeg" width="173" height="173">
                <p class="section-genre">Pop</p>
                <p class="section-lanking">Top 50</p>
            </li>
        </section>
        </div>

        <aside>
            <p><a href="">Legal</a> ⁃ 
                <a href="">Privacy</a> ⁃ 
                <a href="">Cookie Policy</a> ⁃ 
                <a href="">Cookie Manager</a> ⁃ 
                <a href="">Imprint</a> ⁃ 
                <a href="">Creator Resources</a> ⁃ 
                <a href="">Blog</a> ⁃ 
                <a href="">Charts</a> ⁃
                <a href=""><span class="aside-language">Language:</span> English (US)</a>
            </p>
        </aside>


    </main>
</body>
</html>